
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color:black;
  color:white;
}
.nav-link {
  font-size: 1.5rem; 
}
p {
  text-align: justify;
}


.skill-list {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap; 
  color: black;
}

.skill-item {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  font-size: 16px; 
  background-color: #f5f5f5; 
}


.contact-info {
  margin: 0 auto; 
  width: 50%; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #f5f5f5; 
}

.contact-info li {
  margin-bottom: 10px; 
  display: flex;
  align-items: center; 
  color:black;
}

.contact-info li i {
  margin-right: 10px;
  font-size: 18px; 
  color:black;
}
.section {
  margin-top: 70px; 
}